@font-face {
    font-family: 'Chomsky Regular';
    font-style: normal;
    font-display: swap;
    src: url(./fonts/Chomsky/Chomsky.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Newsreader';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/Newsreader/Newsreader_12pt-Regular.woff2) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

:root {
    --text-black: hsl(196, 40%, 9%);
    --newsprint: hsl(60, 71%, 99%);
    --newsprint-dk: hsl(60, 8%, 90%);
    --charcoal: hsla(224, 10%, 29%, 1);
    --shadows: hsla(180, 3%, 55%, 0.4);

    /* Sass would make this easier (◔_◔) */
    --arts-pill: hsla(243, 24%, 31%, 1);
    --arts-article: hsla(243, 24%, 31%, 0.03);
    --automobiles-pill: hsla(178, 41%, 36%, 1);
    --automobiles-article: hsla(178, 41%, 36%, 0.03);
    --books-pill: hsla(2, 24%, 28%, 1);
    --books-article: hsla(2, 24%, 28%, 0.03);
    --business-pill: hsla(253, 10%, 36%, 1);
    --business-article: hsla(253, 10%, 36%, 0.03);
    --fashion-pill: hsla(347, 30%, 72%, 1);
    --fashion-article: hsla(347, 30%, 72%, 0.03);
    --food-pill: hsla(302, 24%, 57%, 1);
    --food-article: hsla(302, 24%, 57%, 0.03);
    --health-pill: hsla(38, 73%, 60%, 1);
    --health-article: hsla(38, 73%, 60%, 0.03);
    --home-pill: hsla(221, 76%, 38%, 1);
    --home-article: hsla(221, 76%, 38%, 0.03);
    --insider-pill: hsla(208, 87%, 44%, 1);
    --insider-article: hsla(208, 87%, 44%, 0.03);
    --magazine-pill: hsla(70, 36%, 54%, 1);
    --magazine-article: hsla(70, 36%, 54%, 0.03);
    --movies-pill: hsla(120, 48%, 62%, 1);
    --movies-article: hsla(120, 48%, 62%, 0.03);
    --nyregion-pill: hsla(47, 65%, 63%, 1);
    --nyregion-article: hsla(47, 65%, 63%, 0.03);
    --obituaries-pill: hsla(224, 10%, 29%, 1);
    --obituaries-article: hsla(224, 10%, 29%, 0.03);
    --opinion-pill: hsla(51, 88%, 58%, 1);
    --opinion-article: hsla(51, 88%, 58%, 0.03);
    --politics-pill: hsla(91, 11%, 61%, 1);
    --politics-article: hsla(91, 11%, 61%, 0.03);
    --realestate-pill: hsla(233, 27%, 36%, 1);
    --realestate-article: hsla(233, 27%, 36%, 0.03);
    --science-pill: hsl(127, 44%, 37%);
    --science-article: hsla(127, 44%, 37%, 0.03);
    --sports-pill: hsla(211, 91%, 52%, 1);
    --sports-article: hsla(211, 91%, 52%, 0.03);
    --sundayreview-pill: hsla(32, 76%, 68%, 1);
    --sundayreview-article: hsla(32, 76%, 68%, 0.03);
    --technology-pill: hsla(305, 11%, 61%, 1);
    --technology-article: hsla(305, 11%, 61%, 0.03);
    --theater-pill: hsla(180, 73%, 43%, 1);
    --theater-article: hsla(180, 73%, 43%, 0.03);
    --t-magazine-pill: hsla(25, 100%, 37%, 1);
    --t-magazine-article: hsla(25, 100%, 37%, 0.03);
    --travel-pill: hsla(47, 65%, 63%, 1);
    --travel-article: hsla(47, 65%, 63%, 0.03);
    --upshot-pill: hsla(355, 67%, 26%, 1);
    --upshot-article: hsla(355, 67%, 26%, 0.03);
    --us-pill: hsl(225, 56%, 21%, 1);
    --us-article: hsla(225, 34%, 23%, 0.03);
    --world-pill: hsla(120, 35%, 36%, 1);
    --world-article: hsl(120, 35%, 36%, 0.03);
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: var(--newsprint);
    margin: 1em auto;
    max-width: 40em;
    width: 88%;
    font-family: 'Newsreader', serif;
    font-size: 16px;
    color: var(--text-black);
    -webkit-font-smoothing: antialiased;
}

/* Masthead */
.masthead a {
    color: inherit;
    text-decoration: none;
}
.masthead {
    margin-bottom: 1em;
    align-items: center;
    justify-content: center;
}
.masthead h1 {
    font-family: 'Chomsky Regular', serif;
    font-size: 1.6em;
    text-align: center;
    margin-block-end: 0;
    border-bottom: 1px var(--shadows) solid;
}
.masthead .strapline {
    margin-block-start: 0.5em;
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
    line-height: 1.3em;
}

/* Navigation */
nav.noise {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px var(--shadows) solid;
    margin: 0 auto;
    align-items: flex-end;
}
nav.noise ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
}
nav.noise li {
    text-decoration: none;
    list-style: none;
    margin: 0.1em;
}

nav.noise .pill {
    filter: saturate(0.7);
}
nav.noise .pill.active,
nav.noise .pill:active,
nav.noise .pill:target,
nav.noise .pill:hover {
    filter: saturate(1.3) brightness(1.1);
}

/* Pill styles */
.pill {
    text-transform: uppercase;
    white-space: nowrap;
    display: inline-table;
    border-radius: 19.3px;
    padding: 0.3em 0.6em 0 0.6em;
    margin-right: 0.2em;
    font-size: x-small;
    box-shadow: var(--shadows) 1px 1px 1px;
    min-width: 20px;
    text-align: center;
    line-height: 1.2em;
    filter: lighten(20%);
    background-color: var(--charcoal);
    color: var(--newsprint);
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.pill:active,
.pill:hover {
    filter: brightness(120%) saturate(1.3);
}

.newsfeed-wrap {
    height: 70vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

ul.newsfeed {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.newsfeed li {
    /* fix for .has-overflowY shadows on safari */
}
/* News items */
.news-item {
    position: relative;
    z-index: 999;
    display: flex;
    flex-direction: row;
    padding: 0.8em;
    margin: 0.5em;
    border-radius: 3px;
    background-color: var(--newsprint-dk);
    transition: all ease 220ms;
    border: 1px var(--shadows) solid;
}
.news-item:hover {
    box-shadow: var(--shadows) 1px 1px 5px;
}

.news-item header {
    padding-right: 0.8em;
}

.news-item header .details.screen-sm {
    display: none;
}
.news-item header img {
    border-radius: 3px;
    box-shadow: var(--shadows) 2px 2px 2px;
}
.news-item h3 {
    margin-top: -3px;
    margin-bottom: 8px;
    font-size: 1.25rem;
    font-weight: 700;
    font-style: italic;
    line-height: 1.4375rem;
    letter-spacing: 0.2px;
    -webkit-letter-spacing: 0.2px;
    -moz-letter-spacing: 0.2px;
    -ms-letter-spacing: 0.2px;
}
.news-item a.read-more,
.news-item h3 a {
    text-decoration: none;
    color: var(--text-black);
    -webkit-font-smoothing: antialiased;
    -webkit-transition: color 0.6s ease;
    transition: color 0.6s ease;
}
.news-item a.read-more:hover,
.news-item h3 a:hover {
    text-decoration: none;
    color: var(--charcoal);
}
.news-item .details {
    display: flex;
    align-items: center;
    padding: 0.5em;
    margin: 0.5em;
    font-size: small;
    border-bottom: 1px var(--shadows) solid;
}
.news-item .byline {
    display: inline-block;
    padding-left: 0.4em;
    margin-left: 0.2em;
    border-left: 1px var(--shadows) solid;
    font-style: italic;
    color: var(--charcoal);
}

.news-item .abstract {
    line-height: 1.3em;
    margin: 0 0.7em;
}

.news-item .abstract p:first-of-type {
    margin-block-start: 0.5em;
}

.news-item .abstract p::first-letter {
    font-size: ;
}

.news-item a.read-more {
    text-decoration: underline;
    font-style: italic;
    font-size: small;
}

/* Color styles for news catagories */
.news-item.arts {
    background-color: var(--arts-article);
}
.pill.arts {
    background-color: var(--arts-pill);
    color: var(--newsprint);
}
.news-item.automobiles {
    background-color: var(--automobiles-article);
}
.pill.automobiles {
    background-color: var(--automobiles-pill);
    color: var(--newsprint);
}
.news-item.books {
    background-color: var(--books-article);
}
.pill.books {
    background-color: var(--books-pill);
    color: var(--newsprint);
}
.news-item.business {
    background-color: var(--business-article);
}
.pill.business {
    background-color: var(--business-pill);
    color: var(--newsprint);
}
.news-item.style,
.news-item.fashion {
    background-color: var(--fashion-article);
}
.pill.style,
.pill.fashion {
    background-color: var(--fashion-pill);
    color: var(--newsprint);
}
.news-item.dining,
.news-item.food {
    background-color: var(--food-article);
}
.pill.dining,
.pill.food {
    background-color: var(--food-pill);
    color: var(--newsprint);
}
.news-item.well,
.news-item.health {
    background-color: var(--health-article);
}
.pill.well,
.pill.health {
    background-color: var(--health-pill);
    color: var(--charcoal);
}
.news-item.home {
    background-color: var(--home-article);
}
.pill.home {
    background-color: var(--home-pill);
    color: var(--newsprint);
}
.news-item.insider {
    background-color: var(--insider-article);
}
.pill.insider {
    background-color: var(--insider-pill);
    color: var(--newsprint);
}
.news-item.magazine {
    background-color: var(--magazine-article);
}
.pill.magazine {
    background-color: var(--magazine-pill);
    color: var(--newsprint);
}
.news-item.movies {
    background-color: var(--movies-article);
}
.pill.movies {
    background-color: var(--movies-pill);
    color: var(--charcoal);
}
.news-item.nyregion {
    background-color: var(--nyregion-article);
}
.pill.nyregion {
    background-color: var(--nyregion-pill);
    color: var(--charcoal);
}
.news-item.obituaries {
    background-color: var(--obituaries-article);
}
.pill.obituaries {
    background-color: var(--obituaries-pill);
    color: var(--newsprint);
}
.news-item.opinion {
    background-color: var(--opinion-article);
}
.pill.opinion {
    background-color: var(--opinion-pill);
    color: var(--charcoal);
}
.news-item.politics {
    background-color: var(--politics-article);
}
.pill.politics {
    background-color: var(--politics-pill);
    color: var(--newsprint);
}
.news-item.realestate {
    background-color: var(--realestate-article);
}
.pill.realestate {
    background-color: var(--realestate-pill);
    color: var(--newsprint);
}
.news-item.science {
    background-color: var(--science-article);
}
.pill.science {
    background-color: var(--science-pill);
    color: var(--newsprint);
}
.news-item.sports {
    background-color: var(--sports-article);
}
.pill.sports {
    background-color: var(--sports-pill);
    color: var(--newsprint);
}
.news-item.podcasts,
.news-item.sundayreview {
    background-color: var(--sundayreview-article);
}
.pill.podcasts,
.pill.sundayreview {
    background-color: var(--sundayreview-pill);
    color: var(--newsprint);
}
.news-item.technology {
    background-color: var(--technology-article);
}
.pill.technology {
    background-color: var(--technology-pill);
    color: var(--newsprint);
}
.news-item.theater {
    background-color: var(--theater-article);
}
.pill.theater {
    background-color: var(--theater-pill);
    color: var(--newsprint);
}
.news-item.t-magazine {
    background-color: var(--magazine-article);
}
.pill.t-magazine {
    background-color: var(--t-magazine-pill);
    color: var(--newsprint);
}
.news-item.travel {
    background-color: var(--travel-article);
}
.pill.travel {
    background-color: var(--travel-pill);
    color: var(--charcoal);
}
.news-item.briefing,
.news-item.upshot {
    background-color: var(--upshot-article);
}
.pill.briefing,
.pill.upshot {
    background-color: var(--upshot-pill);
    color: var(--newsprint);
}
.news-item.us {
    background-color: var(--us-article);
}
.pill.us {
    background-color: var(--us-pill);
    color: var(--newsprint);
}
.news-item.world {
    background-color: var(--world-article);
}
.pill.world {
    background-color: var(--world-pill);
    color: var(--newsprint);
}

/* Media screen size rules */
@media screen and (max-width: 800px) {
    body {
        max-width: 60em;
        padding-top: 5.5em;
        margin-bottom: -5.5em;
    }
    .masthead {
        position: fixed;
        background-color: var(--newsprint);
        height: 5em;
        margin: 0;
        width: 100vw;
        z-index: 9999;
        top: 0;
        left: 0;
        border-bottom: 1px var(--shadows) solid;
    }
    .masthead h1 {
        /* margin: 0;
        padding: 0.6em 0; */
        border: none;
    }
    .masthead .strapline {
        display: none;
    }

    nav.noise {
        width: 90%;
    }
    nav.noise .pill {
        font-size: 0.8em;
    }
    .newsfeed-wrap {
        overflow-x: hidden;
        max-width: 90vw;
        overflow-y: auto;
        height: 75vh;
    }
    .newsfeed {
        overflow-x: hidden;
        display: flex;
        flex-flow: column wrap;
        max-height: 6500px;
        overflow-y: scroll;
        max-width: 90vw;
        align-items: flex-start;
    }
    ul.newsfeed li {
        width: 50%;
        flex: 2 auto;
    }

    .news-item {
        flex-direction: column;
    }

    .news-item header {
        padding: 0.2em;
        margin-bottom: 0.4em;
        align-content: center;
    }
    .news-item header img {
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width: 450px) {
    .newsfeed-wrap.has-overflowY {
        overflow-y: visible;
        max-width: initial;
        width: 100%;
        height: auto;
    }
    .newsfeed {
        width: 100%;
        max-height: initial;
        max-width: initial;
        overflow-y: visible;
    }

    .newsfeed li {
        width: 100% !important;
        flex-flow: column nowrap;
    }
}

/* Articles loading styles */
article.loading {
    justify-content: space-between;
}
article.loading header.loading-bg {
    width: 50px !important;
    height: 50px;
    border-radius: 3px;
    padding-right: 0.3em;
}
article.loading section.loading-bg {
    width: 90%;
    height: 50px;
    margin-left: 0.3em;
    border-radius: 3px;
}

/* Loading animation */
.loading-bg {
    background: linear-gradient(
        89deg,
        var(--newsprint),
        var(--newsprint),
        var(--newsprint-dk),
        var(--newsprint),
        var(--newsprint),
        var(--newsprint),
        var(--newsprint)
    );
    background-size: 300% 200%;
    -webkit-animation: loading 59s ease infinite;
    animation: loading 10s ease infinite;
}
@keyframes loading {
    0% {
        background-position: 0% 56%;
    }
    50% {
        background-position: 100% 45%;
    }
    100% {
        background-position: 0% 56%;
    }
}

/* Errors */
#ohnos {
    text-align: center;
    border-radius: 5px;
    background-color: var(--newsprint-dk);
    padding: 1em;
}
#ohnos h3 {
    font-size: 3em;
}

/* Shadows for overflow container */
.has-overflowY {
    overflow-y: auto;
    background: linear-gradient(to top, transparent, var(--newsprint) 70%),
        linear-gradient(to bottom, transparent, var(--newsprint) 70%),
        radial-gradient(farthest-side at 50% 0%, var(--shadows), transparent),
        radial-gradient(farthest-side at 50% 100%, var(--shadows), transparent);
    background-repeat: no-repeat;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    background-position: top center, bottom center, top center, bottom center;
    background-attachment: fixed, fixed, scroll, scroll;
}

.has-overflowY::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0.5rem;
}
.has-overflowY::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
