/* latin-ext */

:root {
    --text-black: rgb(14, 28, 33);
    --newsprint: hsla(60, 24%, 93%, 1);
    --newsprint-dk: rgb(218, 218, 211);
    --roman-silver: hsla(214, 11%, 57%, 1);
    --charcoal: hsla(224, 10%, 29%, 1);
    --independence: hsla(253, 10%, 36%, 1);
    --shadows: hsla(180, 3%, 55%, 0.4);

    --arts-pill: hsla(243, 24%, 31%, 1);
    --arts-article: hsla(243, 24%, 31%, 0.08);
    --automobiles-pill: hsla(178, 41%, 36%, 1);
    --automobiles-article: hsla(178, 41%, 36%, 0.08);
    --books-pill: hsla(2, 24%, 28%, 1);
    --books-article: hsla(2, 24%, 28%, 0.08);
    --business-pill: hsla(253, 10%, 36%, 1);
    --business-article: hsla(253, 10%, 36%, 0.08);
    --fashion-pill: hsla(347, 30%, 72%, 1);
    --fashion-article: hsla(347, 30%, 72%, 0.08);
    --food-pill: hsla(302, 24%, 57%, 1);
    --food-article: hsla(302, 24%, 57%, 0.08);
    --health-pill: hsla(38, 73%, 60%, 1);
    --health-article: hsla(38, 73%, 60%, 0.08);
    --home-pill: hsla(221, 76%, 38%, 1);
    --home-article: hsla(221, 76%, 38%, 0.08);
    --insider-pill: hsla(208, 87%, 44%, 1);
    --insider-article: hsla(208, 87%, 44%, 0.08);
    --magazine-pill: hsla(70, 36%, 54%, 1);
    --magazine-article: hsla(70, 36%, 54%, 0.08);
    --movies-pill: hsla(120, 48%, 62%, 1);
    --movies-article: hsla(120, 48%, 62%, 0.08);
    --nyregion-pill: hsla(47, 65%, 63%, 1);
    --nyregion-article: hsla(47, 65%, 63%, 0.08);
    --obituaries-pill: hsla(224, 10%, 29%, 1);
    --obituaries-article: hsla(224, 10%, 29%, 0.08);
    --opinion-pill: hsla(51, 88%, 58%, 1);
    --opinion-article: hsla(51, 88%, 58%, 0.08);
    --politics-pill: hsla(91, 11%, 61%, 1);
    --politics-article: hsla(91, 11%, 61%, 0.08);
    --realestate-pill: hsla(233, 27%, 36%, 1);
    --realestate-article: hsla(233, 27%, 36%, 0.08);
    --science-pill: hsl(127, 44%, 37%);
    --science-article: hsla(127, 44%, 37%, 0.08);
    --sports-pill: hsla(211, 91%, 52%, 1);
    --sports-article: hsla(211, 91%, 52%, 0.08);
    --sundayreview-pill: hsla(32, 76%, 68%, 1);
    --sundayreview-article: hsla(32, 76%, 68%, 0.08);
    --technology-pill: hsla(305, 11%, 61%, 1);
    --technology-article: hsla(305, 11%, 61%, 0.08);
    --theater-pill: hsla(180, 73%, 43%, 1);
    --theater-article: hsla(180, 73%, 43%, 0.08);
    --t-magazine-pill: hsla(25, 100%, 37%, 1);
    --t-magazine-article: hsla(25, 100%, 37%, 0.08);
    --travel-pill: hsla(47, 65%, 63%, 1);
    --travel-article: hsla(47, 65%, 63%, 0.08);
    --upshot-pill: hsla(355, 67%, 26%, 1);
    --upshot-article: hsla(355, 67%, 26%, 0.08);
    --us-pill: hsl(225, 56%, 21%, 1);
    --us-article: hsla(225, 34%, 23%, 0.08);
    --world-pill: hsla(120, 35%, 36%, 1);
    --world-article: hsl(120, 35%, 36%, 0.08);
}
body {
    margin: 1em auto;
    max-width: 40em;
    width: 88%;
    font-family: 'Newsreader', serif;
    background-color: var(--newsprint);
    color: var(--text-black);
}
.masthead h1 {
    /* font-family: 'Abril Fatface', serif; */
    font-family: 'Chomsky Regular', serif;
    font-size: 2.5em;
    line-height: 1.1em;
    margin-bottom: 22px;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
nav li {
    flex-basis: auto;
    text-decoration: none;
    list-style: none;
    margin: 0.1em;
}
nav .pill {
    font-size: smaller;
}
.pill {
    display: inline-table;
    border-radius: 19.3px;
    padding: 0.3em 0.6em 0 0.6em;
    margin-right: 0.2em;
    font-size: x-small;
    box-shadow: var(--shadows) 1px 1px 1px;
    min-width: 20px;
    text-align: center;
    line-height: 1.2em;
    filter: lighten(20%);
    background-color: var(--independence);
    color: var(--newsprint);
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.pill:hover {
    filter: brightness(120%) saturate(1.3);
}
ul.newsfeed {
    padding: 0.5em;
    margin: 0;
    list-style-type: none;
    height: 70vh;
    overflow: auto;
}
.news-item {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0.8em;
    margin: 0.5em;
    border-radius: 5px;
    background-color: var(--newsprint-dk);
    box-shadow: var(--newsprint-dk) 3px 3px 4px, var(--shadows) -1px -1px 1px;
}

.news-item header {
    padding-right: 0.8em;
}
.news-item header img {
    border-radius: 3px;
    box-shadow: var(--shadows) 2px 2px 2px;
}
.news-item h3 {
    margin-block-start: 0;
    font-weight: 700;
    -webkit-letter-spacing: 0.2px;
    -moz-letter-spacing: 0.2px;
    -ms-letter-spacing: 0.2px;
    letter-spacing: 0.2px;
    margin-top: -3px;

    font-size: 1.25rem;
    line-height: 1.4375rem;
    margin-bottom: 8px;
}
.news-item a.read-more,
.news-item h3 a {
    text-decoration: none;
    color: var(--text-black);
    -webkit-font-smoothing: antialiased;
    -webkit-transition: color 0.6s ease;
    transition: color 0.6s ease;
}
.news-item a.read-more:hover,
.news-item h3 a:hover {
    text-decoration: none;
    color: var(--charcoal);
}
.news-item .details {
    display: flex;
    align-items: center;
    padding: 0.5em;
    margin: 0.5em;
    font-size: small;
    border-bottom: 1px var(--shadows) solid;
}
.news-item .byline {
    display: inline-block;
    padding-left: 0.4em;
    margin-left: 0.2em;
    border-left: 1px var(--shadows) solid;
    font-style: italic;
    color: var(--roman-silver);
}

.news-item .abstract {
    line-height: 1.3em;
    margin: 0 0.7em;
}
.news-item a.read-more {
    text-decoration: underline;
    font-style: italic;
    font-size: small;
}

.news-item.arts {
    background-color: var(--arts-article);
}
.pill.arts {
    background-color: var(--arts-pill);
    color: var(--newsprint);
}
.news-item.automobiles {
    background-color: var(--automobiles-article);
}
.pill.automobiles {
    background-color: var(--automobiles-pill);
    color: var(--newsprint);
}
.news-item.books {
    background-color: var(--books-article);
}
.pill.books {
    background-color: var(--books-pill);
    color: var(--newsprint);
}
.news-item.business {
    background-color: var(--business-article);
}
.pill.business {
    background-color: var(--business-pill);
    color: var(--newsprint);
}
.news-item.style,
.news-item.fashion {
    background-color: var(--fashion-article);
}
.pill.style,
.pill.fashion {
    background-color: var(--fashion-pill);
    color: var(--newsprint);
}
.news-item.dining,
.news-item.food {
    background-color: var(--food-article);
}
.pill.dining,
.pill.food {
    background-color: var(--food-pill);
    color: var(--newsprint);
}
.news-item.health {
    background-color: var(--health-article);
}
.pill.health {
    background-color: var(--health-pill);
    color: var(--charcoal);
}
.news-item.home {
    background-color: var(--home-article);
}
.pill.home {
    background-color: var(--home-pill);
    color: var(--newsprint);
}
.news-item.insider {
    background-color: var(--insider-article);
}
.pill.insider {
    background-color: var(--insider-pill);
    color: var(--newsprint);
}
.news-item.magazine {
    background-color: var(--magazine-article);
}
.pill.magazine {
    background-color: var(--magazine-pill);
    color: var(--newsprint);
}
.news-item.movies {
    background-color: var(--movies-article);
}
.pill.movies {
    background-color: var(--movies-pill);
    color: var(--charcoal);
}
.news-item.nyregion {
    background-color: var(--nyregion-article);
}
.pill.nyregion {
    background-color: var(--nyregion-pill);
    color: var(--charcoal);
}
.news-item.obituaries {
    background-color: var(--obituaries-article);
}
.pill.obituaries {
    background-color: var(--obituaries-pill);
    color: var(--newsprint);
}
.news-item.opinion {
    background-color: var(--opinion-article);
}
.pill.opinion {
    background-color: var(--opinion-pill);
    color: var(--charcoal);
}
.news-item.politics {
    background-color: var(--politics-article);
}
.pill.politics {
    background-color: var(--politics-pill);
    color: var(--newsprint);
}
.news-item.realestate {
    background-color: var(--realestate-article);
}
.pill.realestate {
    background-color: var(--realestate-pill);
    color: var(--newsprint);
}
.news-item.science {
    background-color: var(--science-article);
}
.pill.science {
    background-color: var(--science-pill);
    color: var(--newsprint);
}
.news-item.sports {
    background-color: var(--sports-article);
}
.pill.sports {
    background-color: var(--sports-pill);
    color: var(--newsprint);
}
.news-item.sundayreview {
    background-color: var(--sundayreview-article);
}
.pill.sundayreview {
    background-color: var(--sundayreview-pill);
    color: var(--newsprint);
}
.news-item.technology {
    background-color: var(--technology-article);
}
.pill.technology {
    background-color: var(--technology-pill);
    color: var(--newsprint);
}
.news-item.theater {
    background-color: var(--theater-article);
}
.pill.theater {
    background-color: var(--theater-pill);
    color: var(--newsprint);
}
.news-item.t-magazine {
    background-color: var(--magazine-article);
}
.pill.t-magazine {
    background-color: var(--t-magazine-pill);
    color: var(--newsprint);
}
.news-item.travel {
    background-color: var(--travel-article);
}
.pill.travel {
    background-color: var(--travel-pill);
    color: var(--charcoal);
}
.news-item.upshot {
    background-color: var(--upshot-article);
}
.pill.upshot {
    background-color: var(--upshot-pill);
    color: var(--newsprint);
}
.news-item.us {
    background-color: var(--us-article);
}
.pill.us {
    background-color: var(--us-pill);
    color: var(--newsprint);
}
.news-item.world {
    background-color: var(--world-article);
}
.pill.world {
    background-color: var(--world-pill);
    color: var(--newsprint);
}

article {
    justify-content: space-between;
}
article header.loading-bg {
    width: 50px !important;
    height: 50px;
    border-radius: 3px;
    padding-right: 0.3em;
}
article section.loading-bg {
    width: 90%;
    height: 50px;
    margin-left: 0.3em;
    border-radius: 3px;
}

.loading-bg {
    background: linear-gradient(
        89deg,
        var(--newsprint),
        var(--newsprint),
        var(--newsprint-dk),
        var(--newsprint),
        var(--newsprint),
        var(--newsprint),
        var(--newsprint)
    );
    background-size: 300% 200%;
    -webkit-animation: loading 59s ease infinite;
    animation: loading 10s ease infinite;
}
@keyframes loading {
    0% {
        background-position: 0% 56%;
    }
    50% {
        background-position: 100% 45%;
    }
    100% {
        background-position: 0% 56%;
    }
}
