html {
  height: 100vw;
  transition: scroll 0.5s;
  font-family: Newsreader, serif;
  scroll-behavior: smooth;
}

body {
  width: 88%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  background-color: var(--newsprint);
  color: var(--text-black);
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

.app {
  margin-top: 6.5em;
  transition: margin .1s  ease;

  @nest .scrolled & {
    margin-top: 1.5em;
  }
}

:focus,
:focus-visible {
  outline: var(--text-black) dotted 3px;
  outline-width: 2px;
}

