/* Media queries */

@media screen and (max-width: 750px) {
  body {
    max-width: 60em;
    margin-bottom: -5.5em;
    padding-top: 5.5em;

    &.scrolled {
      padding-top: 2em;
    }
  }

  .app,
  .scrolled .app {
    width: 100%;
    margin-top: 0;
  }

  .masthead {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    margin: 0;
    border-bottom: 1px var(--shadows) solid;
    background-color: var(--newsprint);

    & h1 {
      border: none;

      /* margin: 0;
        padding: 0.6em 0; */
      font-size: 3.6em;
    }

    & .strapline {
      display: none;
    }
  }

  .noise {
    padding: 0.6em 0;
    border-top: none;

    & ul {
      gap: 0.4em;
    }

    & .pill {
      /* width: 90%; */
      font-size: 0.7em;
      line-height: normal;
    }
  }

  article.loading {
    flex-direction: column;
    width: auto;
    height: 470px;

    & header.loading-bg {
      width: 100%;
      height: 80%;
    }

    & section.loading-bg {
      width: 100%;
    }
  }

  .scroll-to-top.-is-revealed {
    right: 5vw;
    width: 90vw;
    height: 55px;
  }

  .has-overflowY {
    &::-webkit-scrollbar {
      width: 1rem;
    }
  }
}


/* Media screen rule below 750px */

@media screen and (max-width: 750px) {
  .page-footer {
    align-items: flex-end;

    & .nyt-attrib {
      flex-shrink: 0;
    }

    & .colophon {
      display: inline-flex;
      text-align: center;
      gap: .5em;
    }

    & .author {
      margin: auto 0;

      & a {
        display: inline-flex;
        flex-shrink: 0;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  body {
    height: 100vh;
    padding-top: 3em;
    overflow: auto;
  }

  [data-network='offline'] .offline-notice {
    position: fixed;
  }

  [data-network='offline'] .masthead {
    top: 40px;
  }

  .masthead h1 {
    font-size: 2.6em;
  }

  .noise {
    padding: 0.6em;
    border-top: none;
  }

}

@media screen and (max-width: 350px) {
  .masthead h1 {
    font-size: 1.6em;
  }

}

@media (orientation: landscape) {
  body {
    height: 100vh;
    overflow: auto;
  }
}

@media screen and (min-width: 1080px) and (orientation: landscape) {
  body {
    max-width: 1080px;
    overflow: hidden;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
    transition: scroll 0s;

    & > * {
      transition: all 0.1s ease;
    }
  }
}
