.page-footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100vw;
  border-top: 1px solid var(--shadows);
  background-color: var(--newsprint-dk);
  font-size: .8em;
  place-content: center space-between;
  gap: 1em;
}

.nyt-attrib {
  /* flex-shrink: 0; */
  width: auto;
  overflow: hidden;
  border-top-right-radius: 5px;

}

.colophon {
  padding-right: 1em;
}

.author {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding-right: .5em;
  gap: 1em;
}

