/* Pill styles */
.pill {
  display: inline-table;
  min-width: 20px;
  padding: .3em .6em 0.1em;
  transition: color 0.4s ease;
  border-radius: 19.3px;
  background-color: var(--charcoal);
  box-shadow: var(--shadows) 1px 1px 1px;
  color: var(--newsprint);
  font-size: x-small;
  line-height: 1.2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.active.pill,
.pill:hover {
  filter: brightness(120%) saturate(1.3);
  outline: var(--text-black) dotted 3px;
  outline-width: 2px;
}
