.scroll-to-top {
  display: block;
  display: flex;
  visibility: hidden;
  position: fixed;
  right: calc(50vw - 50px);
  bottom: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  overflow: none;
  transform-origin: center;
  transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
  border: none;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  outline: 0;
  opacity: 0;
  box-shadow: 0 3px 10px var(--shadows);
  color: inherit;
  text-decoration: none;
  cursor: grab;
  -webkit-tap-highlight-color: none;

  &.-is-revealed {
    visibility: visible;
    opacity: 1;
    background-color: var(--t-magazine-pill, red);
  }

  &:focus,
  &:focus-visible {
    outline: 3px dotted var(--t-magazine-pill);
    outline-offset: 5px;
  }
}
